.title {
  color: #1D2026;
  text-align: center;
  text-transform: uppercase;
  margin: 100px 0;
}

#banner {
  height: 700px;
  overflow: auto;
}

.jumbotron {
  margin: auto;
  background: none;
  color: #1D2026;
  width: 500px;
  text-align: center;
}
.jumbotron__img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

#about {
  background-color: #1D2026;
  color: #fff;
  height: 600px;
  text-align: center;
}
#about .title {
  color: #fff;
}

.about-header__paragraph {
  width: 80%;
  margin: auto;
}

.skill__progress {
  background-color: #1D2026;
}

.portfolio-container {
  text-align: center;
}

.project {
  padding: 0;
  height: 260px;
  background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&txt=260%C3%97260&w=260&h=260);
  -webkit-animation: fadeIn 1.5s;
}
.project__description {
  height: 260px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background: rgba(138, 170, 217, 0.7);
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  display: none;
}
.project:hover .project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#contact h3 i {
  margin-right: 10px;
}

.contact__form input {
  color: #1D2026;
  background-color: #F1F1F1;
  margin: 30px 0;
}
.contact__form input::-webkit-input-placeholder {
  color: #1D2026;
}
.contact__form textarea {
  color: #1D2026;
  background-color: #F1F1F1;
}
.contact__form textarea::-webkit-input-placeholder {
  color: #1D2026;
}
.contact__form .boton {
  background-color: #1D2026;
  color: #fff;
}
.contact__description {
  margin: 30px 0;
}

.social {
  width: 100%;
}
.social-list {
  padding: 0;
}
.social-list a {
  text-decoration: none;
}
.social-list li {
  display: inline;
}
.social-list .icon {
  font-size: 40px;
  margin-top: 50px;
}
.social-list .icon-list {
  padding-right: 50px;
}

footer {
  background-color: #1D2026;
  height: 300px;
}
