.title {
  text-align: center;
  text-transform: uppercase;
}

#banner {
  height: 100vh;
  background-color: #777;
  overflow: auto;
}

.jumbotron {
  margin: auto;
  background: none;
  width: 500px;
  text-align: center;
}
.jumbotron__img {
  height: 300px;
  width: 300px;
  border-radius: 100%;
}

#about {
  height: 400px;
  overflow: auto;
  text-align: center;
}

.about-header__paragraph {
  width: 80%;
  margin: auto;
}

.skill__bar {
  background-color: red;
  width: 300px;
  height: 50px;
}
.skill__progress {
  background-color: blue;
  height: 50px;
}
.skill__progress--poor {
  width: 20%;
}
.skill__progress--low {
  width: 40%;
}
.skill__progress--average {
  width: 60%;
}
.skill__progress--high {
  width: 80%;
}
.skill__progress--ninja {
  width: 100%;
}

.portfolio-container {
  text-align: center;
}

.project {
  padding: 0;
  height: 260px;
  background-image: url(https://placeholdit.imgix.net/~text?txtsize=33&txt=260%C3%97260&w=260&h=260);
  -webkit-animation: fadeIn 1.5s;
}
.project__description {
  height: 260px;
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  background: rgba(0, 0, 0, 0.7);
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  display: none;
  border: 1px solid red;
}
.project:hover .project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
